.fileinput-box {
  display: table-cell;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  background-color: #efefef;
  text-align: center;
  vertical-align: middle;
}
.fileinput-box.drag {
  border: 3px dotted #cfcfcf;
  border-radius: 9px;
}
.fileinput-input {
  position: relative;
  display: block;
  opacity: 0;
}
